@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-200 antialiased font-medium transition-colors duration-300;
    }
}

:root {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-slate-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-700 rounded-full hover:bg-primary transition-colors;
}

::selection {
    @apply bg-primary text-white;
}